apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zeek-logs-pvc
  namespace: traffic-analysis
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 3Gi
