# TODO : Change App Architecture to replicate production environment in Sprint 2 
apiVersion: v1
kind: Pod
metadata:
  name: cve-2025-66205
  namespace: simulation
  labels:
    app: cve-2025-66205-frappe
  imagePullSecrets:
    {{- toYaml .Values.global.imagePullSecrets | nindent 4 }}
  volumes:
  - name: sites
    emptyDir: {}
  - name: logs
    emptyDir: {}
  - name: db-data
    emptyDir: {}
  
  initContainers:
  - name: configurator
    image: frappe/erpnext:v15.85.1
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    env:
    - name: DB_HOST
      value: "127.0.0.1"
    - name: DB_PORT
      value: "3306"
    - name: REDIS_CACHE
      value: "127.0.0.1:6379"
    - name: REDIS_QUEUE
      value: "127.0.0.1:6379"
    - name: SOCKETIO_PORT
      value: "9000"
    command: ["bash", "-c"]
    args:
    - >
      ls -1 apps > sites/apps.txt;
      if [ ! -f sites/common_site_config.json ]; then echo "{}" > sites/common_site_config.json; fi;
      bench set-config -g db_host $DB_HOST;
      bench set-config -gp db_port $DB_PORT;
      bench set-config -g redis_cache "redis://$REDIS_CACHE";
      bench set-config -g redis_queue "redis://$REDIS_QUEUE";
      bench set-config -g redis_socketio "redis://$REDIS_QUEUE";
      bench set-config -gp socketio_port $SOCKETIO_PORT;



  containers:
  - name: mariadb
    image: mariadb:10.6
    env:
    - name: MYSQL_ROOT_PASSWORD
      value: "admin"
    volumeMounts:
    - name: db-data
      mountPath: /var/lib/mysql
    args:
    - --character-set-server=utf8mb4
    - --collation-server=utf8mb4_unicode_ci
    - --skip-character-set-client-handshake
    - --skip-innodb-read-only-compressed

  - name: redis
    image: redis:6.2-alpine

  - name: create-site
    image: frappe/erpnext:v15.85.1
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    env:
    - name: DB_HOST
      value: "127.0.0.1"
    command: ["bash", "-c"]
    args:
    - >
      wait-for-it -t 120 127.0.0.1:3306;
      wait-for-it -t 120 127.0.0.1:6379;
      bench new-site --mariadb-user-host-login-scope='%' --admin-password=admin --db-root-username=root --db-root-password=admin --install-app erpnext --set-default frontend || true;
      echo "Site creation attempt finished. Sleeping explicitly.";
      sleep infinity;

  - name: backend
    image: frappe/erpnext:v15.85.1
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    env:
    - name: DB_HOST
      value: "127.0.0.1"

  - name: frontend
    image: frappe/erpnext:v15.85.1
    ports:
    - containerPort: 8080
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    env:
    - name: BACKEND
      value: "127.0.0.1:8000"
    - name: FRAPPE_SITE_NAME_HEADER
      value: "frontend"
    - name: SOCKETIO
      value: "127.0.0.1:9000"
    - name: UPSTREAM_REAL_IP_ADDRESS
      value: "127.0.0.1"
    - name: UPSTREAM_REAL_IP_HEADER
      value: "X-Forwarded-For"
    - name: UPSTREAM_REAL_IP_RECURSIVE
      value: "off"
    - name: PROXY_READ_TIMEOUT
      value: "120"
    - name: CLIENT_MAX_BODY_SIZE
      value: "50m"
    command: ["nginx-entrypoint.sh"]

  - name: websocket
    image: frappe/erpnext:v15.85.1
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    env:
    - name: FRAPPE_REDIS_CACHE
      value: "redis://127.0.0.1:6379"
    - name: FRAPPE_REDIS_QUEUE
      value: "redis://127.0.0.1:6379"
    command: ["node", "/home/frappe/frappe-bench/apps/frappe/socketio.js"]

  - name: scheduler
    image: frappe/erpnext:v15.85.1
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    command: ["bench", "schedule"]

  - name: queue-short
    image: frappe/erpnext:v15.85.1
    volumeMounts:
    - name: sites
      mountPath: /home/frappe/frappe-bench/sites
    - name: logs
      mountPath: /home/frappe/frappe-bench/logs
    env:
    - name: FRAPPE_REDIS_CACHE
      value: "redis://127.0.0.1:6379"
    - name: FRAPPE_REDIS_QUEUE
      value: "redis://127.0.0.1:6379"
    command: ["bench", "worker", "--queue", "short,default"]
