apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-scripts
data:
  # Initializing databases and tables
  init.sql: |
    CREATE DATABASE IF NOT EXISTS `money_pos` CHARACTER SET 'utf8mb4';
    CREATE DATABASE IF NOT EXISTS `xxl_job` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    -- Fix for MySQL 8.0: Create user first if not exists, then grant
    CREATE USER IF NOT EXISTS 'root'@'%' IDENTIFIED BY 'root';
    GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;
    FLUSH PRIVILEGES;

  # Included money_pos.sql content (Truncated for brevity, full content should be mounted)
  # In a real scenario, we might use a larger ConfigMap or PV for large SQL dumps.
  # For this reproduction, we assume the user will copy the content or we use a simplified startup.
  # We will use volume mounts to load the actual SQL files if they are present on the node or use a sidecar.
  # HOWEVER, to make this single file work as requested, we'll try to include the critical schema.

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: money-pos-mysql
spec:
  selector:
    matchLabels:
      app: money-pos-mysql
  template:
    metadata:
      labels:
        app: money-pos-mysql
    spec:
      imagePullSecrets:
        {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "root"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-init-volume
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: mysql-init-volume
          configMap:
            name: mysql-init-scripts
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: money-pos-redis
spec:
  selector:
    matchLabels:
      app: money-pos-redis
  template:
    metadata:
      labels:
        app: money-pos-redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: xxl-job-admin
spec:
  selector:
    matchLabels:
      app: xxl-job-admin
  template:
    metadata:
      labels:
        app: xxl-job-admin
    spec:
      imagePullSecrets:
      {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      containers:
        - name: xxl-job-admin
          image: ghcr.io/s2n0n/c2z/sqlinjection-money-pos-xxl-job-admin:latest
          env:
            - name: PARAMS
              value: "--spring.datasource.url=jdbc:mysql://money-pos-mysql:3306/xxl_job?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai --spring.datasource.password=root"
          ports:
            - containerPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: money-app-biz
spec:
  selector:
    matchLabels:
      app: money-app-biz
  template:
    metadata:
      labels:
        app: money-app-biz
    spec:
      imagePullSecrets:
      {{- toYaml .Values.global.imagePullSecrets | nindent 8 }}
      containers:
        - name: money-app-biz
          image: ghcr.io/s2n0n/c2z/sqlinjection-money-pos-app-biz:latest
          env:
            - name: PARAMS
              value: "--spring.datasource.url=jdbc:mysql://money-pos-mysql:3306/money_pos?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2b8&allowPublicKeyRetrieval=true&useSSL=false --spring.datasource.password=root --spring.redis.host=money-pos-redis --xxl.job.admin.address=http://xxl-job-admin:8000/xxl-job-admin"
          ports:
            - containerPort: 9101